@import '_normalize';
@import '_variables';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap&subset=latin-ext');
@import 'modules/_hero';
@import 'modules/_skills';
@import 'modules/_projects';
@import 'modules/_contact';

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: $big-stone;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  border: 16px solid $big-stone;
}

.container {
  max-width: 1184px;
  margin: 0 auto;
}